<div class="container">
 <div class="col-xs-12">
<app-date></app-date>
</div>
<hr>
<div class="col-xs-12">
<div>
    <h3>ng Model Example</h3>
    <div>
    Entered Text: <input type="text" [(ngModel)]="inputText"/>
    </div>
    <div>
    {{inputText}}
    </div>
</div>
<hr>
<app-address-card></app-address-card>
<hr>
<app-address-card-passingtocomponents name="Akhilesh Karthik"></app-address-card-passingtocomponents>
<hr>
<hr>
<app-addresscardpasstoconentsentiremodel [user]="user"></app-addresscardpasstoconentsentiremodel>
<hr>
<app-servicerestapi></app-servicerestapi>
<hr>
<h3>Understanding Routing</h3>
<a routerLink="/home">Home</a>
<br>
<a routerLink="/settings">Settings</a>
<router-outlet></router-outlet>
</div>
</div>